absl-py==2.1.0
astropy==6.0.1
astunparse==1.6.3
atomicwrites==1.4.1
attrs==23.2.0
autopep8==2.1.0
cachetools==5.3.3
certifi==2024.2.2
chardet==5.2.0
colorama==0.4.6
cycler==0.12.1
decorator==5.1.1
easydict==1.13
filterpy==1.4.5
FITS-tools==0.2
gast==0.4.0
google-auth==2.29.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.10.0
idna==3.6
image-registration==0.2.8
imageio==2.34.0
importlib-metadata==7.1.0
iniconfig==2.0.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
lxml==5.2.1
Markdown==3.6
matplotlib==3.8.4
networkx==3.3
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==24.0
Pillow==10.3.0
pluggy==1.4.0
protobuf==3.19.6
py==1.11.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycodestyle==2.11.1
pyparsing==3.1.2
pytest==8.1.1
python-dateutil==2.9.0.post0
PyWavelets==1.6.0
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
scikit-image==0.22.0
scipy==1.13.0
six==1.16.0
tensorboard==2.10.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
termcolor==2.4.0
tf-estimator-nightly==2.3.0.dev2020062301
tifffile==2024.2.12
toml==0.10.2
tqdm==4.66.2
urllib3==2.2.1
Werkzeug==3.0.2
wrapt==1.16.0
zipp==3.18.1
